@font-face {
  font-family: "Modern";
  src: url(font/font.ttf);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
  color: #fff;
}

nav {
  width: 80%;
  display: flex;
  gap: 50px;
  font-size: 12px;
  position: fixed;
  top: 10px;
  right: 20px;
  z-index: 10;
}

a.search-nav {
  margin-left: auto;
}

nav a {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 5px;
  color: #fff;
}

nav a.active {
  text-decoration: underline;
}

nav a i {
  font-size: 20px;
}

.swiper {
  height: 100%;
  width: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  object-fit: cover;
  height: 100%;
}
